/* Backgrounds & colours
================================== */

body.taste .main-wrapper-inner {
	background: url(../images/css-images/background-main-wrapper-inner-taste.jpg) no-repeat 0 0;
	}
	
body.taste .main-wrapper {
	background: #000000 url(../images/css-images/background-main-wrapper-taste.jpg) repeat-x 0 585px;
	}
	
body.taste .local-nav h3 {
	background: url(../images/css-images/background-local-nav-h3-taste.png) no-repeat;
	}
	
body.taste .order-free .featurebox-inner,
body.taste .local-nav .featurebox-inner {
	background: url(../images/css-images/background-featurebox-taste.png) left bottom no-repeat;
	}
	
body.taste .local-nav a  { 
	color: #643501;
	}
	
body.taste .main-content-wrapper a,
body.taste .main-content-wrapper h3,
body.taste .main-content-wrapper h4,
body.taste legend { 
	color: #F69D2A;
	}
	
body.taste .local-nav li.home span.current,
body.taste .local-nav li.home:hover span {
	background: url(../images/css-images/icon-home.gif) no-repeat 0 -225px;
	}
body.taste .local-nav li.survey span.current,
body.taste .local-nav li.survey:hover span {
	background: url(../images/css-images/icon-survey.gif) no-repeat 0 -225px;
	}
body.taste .local-nav li.results span.current,
body.taste .local-nav li.results:hover span {
	background: url(../images/css-images/icon-results.gif) no-repeat 0 -225px;
	}
body.taste .local-nav li.resources span.current,
body.taste .local-nav li.resources:hover span {
	background: url(../images/css-images/icon-resources.gif) no-repeat 0 -225px;
	}
body.taste .local-nav li.workshops span.current,
body.taste .local-nav li.workshops:hover span {
	background: url(../images/css-images/icon-workshops.gif) no-repeat 0 -225px;
	}	

/* Related Experiment
================================== */
/* Featurebox to cross-promote experiments */

body.taste .related  h3 {
	background: url(../images/css-images/background-related-experiment-h3-bacteria.png) no-repeat;
	}
	
body.taste .related .featurebox-inner {
	background: url(../images/css-images/background-featurebox-bacteria.png) left bottom no-repeat;
	}
	
body.taste .related .logo a {
	background: url(../images/css-images/x-bacteria.png) no-repeat;
	height: 95px;
	}
	
body.taste .related a {
	color: #DC4727;
	}
	
/* Survey
================================== */

body.taste .survey fieldset {
	margin: 10px 0;
	border: 1px solid #fff;
	padding: 10px;
	}
	
body.taste .survey fieldset.your-details label {
	width: 200px;
	}
	
body.taste .survey fieldset.female label,
body.taste .survey fieldset.male label {
	width: 500px;
	font-weight: normal;
	}
	
body.taste .survey fieldset fieldset legend {
	font-size: 1em;
	color: #FFF;
	}

body.taste .survey fieldset fieldset {
	border: 1px dotted #646569;
	}
	
body.taste .survey label strong,	
body.taste .survey legend strong {
	text-transform: uppercase;
	}

body.taste .survey fieldset.your-details input {
	width: 200px;
	}
	
body.taste .survey fieldset.your-details select {
	width: 204px;
	}
	
body.taste .survey fieldset.female input,
body.taste .survey fieldset.male input {
	width: 3em;
	float: right;
	}
	
body.taste legend {
	font-size: 118%;
	padding: 0 5px;
	background: #000000;
	}
	
body.taste .survey fieldset p {
	margin-top: 10px;
	}
	
body.taste .survey fieldset.female .form-row,
body.taste .survey fieldset.male .form-row {
	border-bottom: 1px dotted #646569;
	min-height: 1.64em;
	}
	
body.taste .survey .last {
	border-bottom: none !important;
	padding-bottom: none;
	}
	
body.taste .button input {
	background-color: #F69D2A; 
	color: #000;
	border-top: 1px solid #FFA916; 
	border-left: 1px solid #FFA916; 
	border-right: 1px solid #DA7A0A; 
	border-bottom: 1px solid #DA7A0A;
	}

body.taste .button input:hover {
	background-color: #EC9010; 
	border-top: 1px solid #DA7A0A; 
	border-left: 1px solid #DA7A0A; 
	border-right: 1px solid #FFA916; 
	border-bottom: 1px solid #FFA916; 
	}
	
	